<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black Lives Matter SPA</title>
        <!-- Importing angular and  -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="app.js"></script>
</head>

    <body ng-app="blacklives" ng-controller="MainCtrl">
        <div>
            {{test}}
        </div>

    </body>
</html>

