<!--  This is a test file to see if index page renders without rails server. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <script src="config/app.js"></script>
</head>

<!-- This information is being displayed in the application.html.erb  -->
<body ng-app='blacklives'>
    <div class='row'>
        <!-- The below column is 6 wide and off set by 3 from the left. -->
        <div class="col-md-6 col-md-offset-3">
            <!-- Telling ui-router where to place the template of the active state.  -->
          <ui-view></ui-view>

            <!-- The below div contains the page header. -->


              <!-- ng-repeat allows the info from the app.js to be repeated in an array.  -->
              <div ng-repeat="post in posts">
                          <!-- Is pulling info from app.js to display an array of posts. -->
                        {{post.title}}
                        <!-- The below is a button for adding posts -->
              </div>

            <form ng-submit='addPost()'>

                  <h3>Add a new post</h3>
                      <!-- Below is a div containing the form -->
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Title" ng-model="title"/>
                    </div>

                    <div>
                    <!-- A submit button -->
                        <button type='submit' class='btn-primary'>Post</button>
                    </div>

            </form>



        </div>
    </div>
<!-- This script allows for the creation of templates inside HTML -->
    <script type='text/ng-template' id='/home.html'>
       <div class="page-header">
            <h2>Black Lives Matter: Remembered</h2>
       </div>
    </script>

</body>

</html>


