<!DOCTYPE html>
<html>
<head>
  <title>Blacklives</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<!-- This information is being displayed in the application.html.erb  -->
<body ng-app='blacklives'>
    <div class='row'>
        <!-- The below column is 6 wide and off set by 3 from the left. -->
        <div class="col-md-6 col-md-offset-3">
              <!-- The below is including the nav bar. -->
            <div ng-include='nav/_nav.html'></div>
            <!-- Telling ui-router where to place the template of the active state.  -->
          <ui-view></ui-view>

        </div>
    </div>

</body>

</html>
